/.bundle/
/.yardoc
/Gemfile.lock
Gemfile.lock
*.gem
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/legion/.idea/
/.idea/
*.key
# rspec failure tracking
.rspec_status
legionio.key
# logs and OS artifacts
legion.log
.DS_Store
.worktrees/
.claude/
docs/
bin/apollo-setup-postreboot.sh
bin/apollo-setup-prereboot.sh
legionio-bootstrap-uhg-v3.json
